/* HOME */ 
:root{
    --primary:#046cb3;
}
#title{
    font-size: 3.3rem !important;
}

.home-form, .result-formm, .clicks-form{
    height: 50px;
}

a{
    text-decoration: none !important;
}
.result-form input{
    width: 210px;
    padding: .3rem;
}
.clicks-form input{
    width: 200px;
}
.home-form span{
    width: 500px;
}

.home-form input{
    padding-left: 1rem;
}
.home-form input, .result-form input, .clicks-form input{
    border-radius: 0 !important;
    border: 2px solid rgb(130, 156, 180);
    border-end-start-radius: .8rem !important;
    border-start-start-radius: .8rem !important;
    border-right: none;
    outline: none;
}

.home-form button, .result-form button, .clicks-form button{
    border-radius: 0 !important;
    border-end-end-radius: .8rem !important;
    border-start-end-radius: .8rem !important; 

    font-size: 1.1rem;
    font-weight: 600;
}

.home-form button{
    gap: 5px;
}

.home-form button > i{
    font-size: 1.2rem;
}


.links{
    position: fixed;
    bottom: 0vh;
    background-color: var(--primary) !important;
}

.btn-pri{
    background-color: var(--primary) !important;
}
