<div class="col-12 text-center mt-5" style="user-select: none;">
    <div class="text-dark" href="/">
        <img width="120" src="/images/pngegg.png" alt="">
        <a href="/">
            <h1 id="title" unselectable="on" class="text-dark">Linkzin</h1>
        </a>
        
    </div>
    
</div>