<div class="col-12 text-center mt-5" style="user-select: none;">
    <div class="text-dark  d-flex align-items-center flex-column " href="/">
        <img width="120px" class="" src="/images/pngegg.png" alt="">
        <a href="/" class="d-inline-block">
            <h1 id="title" unselectable="on" class="text-dark">Linkzin</h1>
        </a>
        
    </div>
    
</div>