<div class="col-12 text-center mt-5" style="user-select: none;">
    <a class="text-dark" href="/">
        <img width="100" src="/images/pngegg.png" alt="">
        <h1 id="title" unselectable="on">Linkzin</h1>
    </a>
    
</div>